.container{
    width: 100%;
    padding: 1% 5% 7% 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  .title{
    font-size: 58px;
    font-weight: 700;
    margin-bottom: 3%;
  }
  .paragraph{
    font-size: 20px;
    line-height: 30px;
    margin-top: 2%;
  }
  .span{
    width: 100px;
    height: 100px;
    position: absolute;
    top: -52px;
    left: 45%;
  }
  
  /* .inner{
    width: 70%;
    padding: 3% 5%;
    border: 8px solid black;
    border-radius: 25px;
    background-clip: padding-box;
  
    outline: none;
    border-color: linear-gradient(90deg, rgb(26, 218, 19), rgb(2, 252, 239)); 
    border-image: linear-gradient(90deg, rgb(26, 218, 19), rgb(2, 252, 239)) 1;
    background: linear-gradient(90deg, rgba(103,233,105,0.36458333333333337) 0%, rgba(0,0,0,1) 17%, rgba(0,0,0,1) 83%, rgba(24,214,209,0.3393732492997199) 96%);
  } */
  .inner{ 
  width: 72%;
  padding: 3% 5%;
  background: radial-gradient(circle at 100% 100%, #000000 0, #000000 17px, transparent 17px) 0% 0%/20px 20px no-repeat,
              radial-gradient(circle at 0 100%, #000000 0, #000000 17px, transparent 17px) 100% 0%/20px 20px no-repeat,
              radial-gradient(circle at 100% 0, #000000 0, #000000 17px, transparent 17px) 0% 100%/20px 20px no-repeat,
              radial-gradient(circle at 0 0, #000000 0, #000000 17px, transparent 17px) 100% 100%/20px 20px no-repeat,
              linear-gradient(#000000, #000000) 50% 50%/calc(100% - 6px) calc(100% - 40px) no-repeat,
              linear-gradient(#000000, #000000) 50% 50%/calc(100% - 40px) calc(100% - 6px) no-repeat,
              linear-gradient(90deg, rgba(0,220,130,1) 0%, rgba(53,227,217,1) 100%);
  border-radius: 20px;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 4;
  }
  .bgGradient{
    top: 0;
    left: 0;
    /* opacity: 80%; */
    margin: 3px;
    border-radius: 15px;
    border: inherit;
    background: linear-gradient(90deg, rgba(0, 220, 130, 0.34) 0%, rgba(217, 217, 217, 0) 92%);
    border: inherit;
    position: absolute;
    height:98%;
    width: 18%;
  }
  
  
  .bgGradient2{
    top: 0;
    right: 0;
    margin-left: auto;
    /* opacity: 80%; */
    margin: 2px;
    border-radius: 15px;
    border: inherit;
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, rgba(68, 194, 248, 0.38) 100%);
    position: absolute;
    height:98%;
    width: 18%;
  }
  
  
  .divContainer{
    display: flex;
    width: 80%;
    padding: 1% 4%;
    gap: 20px;
  }
  
  .divContainer1{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    padding: 0 0%;
  }
  .divContainer2{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1px;
    background: rgba(24, 24, 27, 1);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding: 0 5%;
  }
  .div1, .div2 { 
    display: flex;
    gap: 30px;
    padding: 3% 10%;
    border-radius: 15px;
  }
  .div2{
    padding: 6% 10%;
  }
  
  
  .div1:hover, .div2:hover, .divContainer2:hover{
    transform: scale(1.03);
  }
  
  .div1{
    background: linear-gradient(90deg, rgba(24, 24, 27, 1) 0%, rgba(24, 24, 27, 1) 76%, rgba(190, 148, 0, 0.38)100%);
  }
  .div2{
    background: linear-gradient(90deg, rgba(24, 24, 27, 1) 0%, rgba(24, 24, 27, 1) 76%, rgba(68, 194, 248, 0.38) 100%);
  }
  .span3{
  }
  .imageContainer{
    background-image: url('/polygon.svg');
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inner1{
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .inner2{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .title2{
    font-size: 27px;
    font-weight: 700;
  }
  .desc{
    color: rgba(170, 170, 170, 1);
    font-size: 21px;
    line-height: 30px;
    font-weight: 500;
  }
  .graph{
    width: 250px;
    height: 220px;
    color: white;
    display: flex;
    background-size: cover;
    justify-content: center;
    align-items: center;
    background: url('/graph.svg');
  }
  .certificate{
    margin-left: 12%;
  }
  
  @media screen and (max-width:768px) {
    .container{
      width: 100%;
      padding: 2% 0;
    }
   .divContainer{
    width: 100%;
    display: flex;
    padding: 1% 4%;
    flex-direction: column;
   }
   .divContainer1{
    width: 100%;
   }
   .divContainer2{
    width: 100%;
    display: flex;
    padding: 5% 10%;
    flex-direction: column;
    margin-bottom: 10%;
   }
   .inner1{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .inner2{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
   }
   .div2{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .antihacking, .antiPhishing, .certificate{
    width: 70px;
   }
   .graph{
    width: 250px;
    height: 220px;
   }
   .title2{
    font-size: 22px;
    line-height: 30px;
   }
   .certificate{
    object-fit: fill;
    background-size: cover;
   }
   .desc{
    font-size: 18px;
   }
   .inner{
    width: 92%;
   }
   .heading{
    font-size: 22px;
    margin-top: 5%;
   }
   .paragraph{
    font-size: 18px;
    color: rgba(170, 170, 170, 1);
   }
   .robot{
    width: 60px;
   }
   .title{
    margin-top: 4%;
    font-size: 40px;
    margin-bottom: 5%;
   }
   .span{
    left: 40%;
   }
  }
  


  @media screen and (min-width: 768px) and (max-width:1280px) {
    .container{
      width: 100%;
      padding: 2% 0;
    }
   .divContainer{
    width: 60%;
    display: flex;
    padding: 1% 4%;
    flex-direction: column;
   }
   .divContainer1{
    width: 100%;
   }
   .divContainer2{
    width: 100%;
    display: flex;
    padding: 5% 10%;
    flex-direction: column;
    margin-bottom: 10%;
   }
   .inner1{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .inner2{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .div1{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
   }
   .div2{
    width: 100%;
    display: flex;
    flex-direction: column;
   }
   .antihacking, .antiPhishing, .certificate{
    width: 70px;
   }
   .graph{
    width: 250px;
    height: 220px;
   }
   .title2{
    font-size: 22px;
    line-height: 30px;
   }
   .certificate{
    object-fit: fill;
    background-size: cover;
   }
   .desc{
    font-size: 18px;
   }
   .inner{
    width: 52%;
   }
   .heading{
    font-size: 22px;
    margin-top: 5%;
   }
   .paragraph{
    font-size: 18px;
    color: rgba(170, 170, 170, 1);
   }
   .robot{
    width: 60px;
   }
   .title{
    margin-top: 4%;
    font-size: 40px;
    margin-bottom: 5%;
   }
   .span{
    left: 40%;
   }
  }
  